# Ignore virtual environment directory
/lisp_venv/

# Ignore specific untracked folder
/Non Program Files/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore common editor/IDE files (add or remove as needed)
.idea/
.vscode/
*.swp
*~

# Ignore specific files
Non Program Files/query.sql
Main.py